{
  "API_BASE_URL": "http://localhost:3000",
  "WS_URL": "ws://localhost:3000",
  "INVITE_BASE_URL": "http://localhost:4000",

  "SOLAPI_API_KEY": "YOUR_SOLAPI_API_KEY",
  "SOLAPI_API_SECRET": "YOUR_SOLAPI_API_SECRET",
  "SOLAPI_FROM": "01012345678"
}
